/* utility classes */
.h-primary{
    font-size: 2.8rem !important;
}
.h-secondary{
    font-size: 1rem;
}
p{
   font-size: 0.7rem;
   /* width: 250px; */
}
/* #home{
    height:60px;
} */
#home p{
    width: 250px !important;
}
/* navigation bar */
.navigation
{  
    flex-direction: column;
}
.navigation ul li a{
    padding: 0px 3px !important;
}
.navigation ul li:first-child a{
    padding-left: 3px;
}
.navigation ul li:last-child a{
    padding-right: 3px;
}
.navigation img{
    margin-top: 6px;
}
.navigation .search{
    margin-bottom: 6px;
}


/* home */
#home{
    height: 40px !important;
    padding: 75px 12px;
}
/* services */
#services .services
{
flex-direction: column;
}

/* contact */
#contact{
    overflow: hidden;
}
#contact::before{
    height: 396px;
}
#contact .feedback
       {        
           display: block;
           height: 200px;
           width: 300px;
           margin: auto;        
       }
       #contact .feedback #feedback
       {              
          width: 306px;  
       }
       #contact .feedback #feedback input
       {                
          width: 250px !important;
       }
       #contact .feedback #feedback button
       {        
         width:200px;
       }
      
